{
  "presets": [
    "@babel/preset-env",
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "eslint-plugin-no-credentials": "./src",
        }
      }
    ]
  ]
}
